// plannerList.scss
@media (max-width:768px){
    .calendar_popup{
        width: 100%;
    }
}

//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////

@media (max-width:480px){
    .calendar_popup{
        width: 100%;
        .calendar_top{
            gap: 32.6%;
        }
    }
}
