.calendar{
    width: 100%;
    margin : 30px 0;
    height: 100%;
}
.calendar_top{
    display: flex;
    align-items: center;
    gap: 40%;
}
.calendarbtn{
    margin: 30px 0 40px 0;
}
/* FullCalendar 기본 스타일 제거 */
.fc {
    all: unset !important;
    }

/* 필요 없는 요소들 숨기기 */
.fc-daygrid-day {
    background: none !important;
    border: none !important;
    color: inherit !important;
}

.fc-daygrid-day-selected {
    background: none !important;
}


.calendar.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 5%;
}
.fc .fc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fc .fc-daygrid-day-number {
    font-size: 1.2rem;
    position: relative;
    z-index: 4;
    padding: 4px;
}
.fc .fc-button-primary {
    all: unset !important;  /* 모든 스타일 초기화 */
    background: none !important;
    border: none !important;
    color: inherit !important;
    color: black;
    padding: 0 !important;
    margin: 0 !important;
}
.fc .fc-daygrid-day-top {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
    margin-bottom: 1em !important;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    display: block !important;
}
.fc .fc-daygrid-day-events {
    margin-top: 1px !important;
}
.calender.fc .fc-daygrid-day-frame {
    height: 100% !important;
}

.fc .fc-daygrid-day {
border: none !important; /* 날짜 셀 테두리 제거 */
}
.fc .fc-col-header-cell {
border: none !important;
}
.fc .fc-scrollgrid {
border: none !important;
}
.fc .fc-event {
border: none !important;
box-shadow: none !important;
}

/* FullCalendar의 테이블 셀(td)과 헤더 셀(th) 테두리 제거 */
.fc-theme-standard td,
.fc-theme-standard th {
border: none !important;
}

.fc-col-header{
    margin-bottom: 5%;
} 

.fc .fc-col-header-cell-cushion {
    font-size: 1rem;
    display: inline-block;
    padding: 2px 4px;
}
.fc-day-sun .fc-daygrid-day-number {
    color: #FF6666 !important;
}

/* 토요일 (Saturday) */
.fc-day-sat .fc-daygrid-day-number {
    color: #8894FF !important;
}
.fc .fc-col-header-cell.fc-day-sun a {
    color: #FF6666 !important;
}
.fc .fc-col-header-cell.fc-day-sat a {
    color: #8894FF !important;
}

