.pickplan_content{
    .pickplan_pixed{
        position: relative;
    }
    padding: 92px 0 94px;
    .pickplan_title{
        font-size: 22px;
        font-weight: bold;
        >span{
            color: #2288FD;
        }
    }
    p:last-of-type{
        margin: 7px 0 16px;
    }
    .right_box_pick{
        width: 35.8px;
    }
}
.pickplan_card{
    height: 100%;
    overflow-y: auto;
}
.pickplan_btn{
    >button>div{
        font-size: 18px;
    }
    margin: 20px 0;
}

@import './res-pickplan.scss';