.planner_place{
    position: relative;
    margin: 92px 0 150px;
    .Place_back{
        position: absolute;
        left: 0;
        top: -83px;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }
    .search_list_title{
        font-size: 18px;
        font-weight: bold;
        margin: 16px 0;
        display: flex;
        gap: 5px;
        >h3{
            font-size: 18px;
        }
        >span{color: #5886BA;}
    }   
    .searchItem{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse
    }
    input{display: none;}
    input:checked+div>div>.tagbtn{
        display: inline-block;
        padding: 7px 11px;
        color: white;
        border: 1px solid #5886BA;
        background-color: #5886BA;
        border-radius: 85px;
    }
    .place_btn{ //선택완료 버튼
        width: 768px;
        position: fixed;
        left: 50%; bottom: 40px;
        transform: translateX(-50%);
    }
}
.category{
    font-size: 14px;
    font-weight: normal;
}
.searchbox{
    margin-bottom: 50px;
}
.address{
    font-size: 16px;
    font-weight: normal;
    color: #555;
    margin: 16px 0;
}
.taginput{
    display: none;
}
.city_name{
    margin-bottom: 10px;
}
.LikeItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse
}
.searchbtn{
    margin-bottom: 10px;
}

@import './res-planner.scss';