.category{
    font-size: 14px;
    font-weight: normal;
}
.searchbox{
    margin-bottom: 50px;
}
.address{
    font-size: 12px;
    font-weight: normal;
    color: #555;
    margin: 16px 0;
}
.taginput{
    display: none;
}
.cardbtn{
    width: 90%;
}