.planner_detail{
    position: relative;
    padding-top: 92px;
}
.tagbtn{
    font-size: 18px;
}
.checkdetail-icon-close{
    position: absolute;
    left: 0; top: -40px;
    width: 14px; height: 14px;
    cursor: pointer;
    img{
        width: 100%; height: 100%;
        object-fit: fill;
    }
}
.planner_title:focus{outline: none;}
.planner_title, .planner_weather{font-weight: bold; font-size: 22px !important;}

//날씨 로딩 중
.detail_loading{
    b{
        display: inline-block;
        font-size: 22px;
        margin-bottom: 16px;
        span{ color: #2288FD;}
    }
}
.weather_loading{
    width: 50%;
    margin: 0 auto;
    height: 120px;
    img{
        width: 50%;
        display: inline-block;
        text-align: center;
    }
}
//날씨
.weather_content{
    margin: 0 auto 50px;
    font-weight: bold;
    h2{font-size: 22px; margin-bottom: 5px;}
    .weather_item{
        gap: 5%;
        display: flex;
        justify-content: space-between;
    }
    .weathertemp, .weather_date{ 
        text-align: center;
        font-size: 19px; 
    }
    .weather_icon{
        width: 100%;
        margin: 16px auto;
        img{
            display: block;
            margin: 0 auto;
            width: 50%;
        }
    }
    .weather_wf{
        display: flex;
        margin-bottom: 16px;
        font-size: 22px;
        .weather_text{
            margin-left: 10px;
            color: #2288FD;
        }
    }
}
//여행일정
.planner_content{
    position: relative;
    .hand{
        position: absolute;
        top: 1000%;
        right: 5%;
        transform: translate(-50%, -50%);
        z-index: 99;
    }
    .planner{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        button{
            font-size: 16px;
            color: #2288FD;
        }
    }
    .trip_date{
        margin: 7px 0 16px;
        font-size: 14px;
    }
    .planner_tagbtn{
        font-size: 16px;
        margin-bottom: 16px;
    }
}
.readonly{
    padding-bottom: 92px;
}
//비행기 티켓
.ticketline{
    margin: 0 auto 32px;
    .ticket{
        width: 100%;
        border: 1px solid black;
        border-radius: 10px;
        .ticketpadding{
            padding: 16px 5%;
            .barcode{
                max-width: 80%;
                margin: 0 auto;
                .barcode_img{
                    width: 100%;
                }
            }
        }
        .tickettop{
            position: relative;
            width: 100%; min-height: 50%;
            &::before{
                content: '';
                display: inline-block;
                width: 100%; height: 14px;
                border-radius: 8.9px 8.9px 0 0;
                background-color: #4E7CB2;
            }
            //티켓 상단 부분
            .topbar{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px; 
                margin-bottom: 16px;
                //Day 1 4/3 목
                .ticketdate{
                    margin-left: 5px;
                    color: #858585;
                }
                //비행기 아이콘
                .plane{
                    position: relative;
                    margin: 0 auto;
                }
                //수정버튼
                .right_box{
                    width: 79.45px;
                    .topBarBtn{
                        display: inline-block;
                        width: 100%;
                        color: #2288FD;
                    }
                }
            }
            //ul
            .tickebox{
                //li
                .liItem{
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 5%;
                }
                .svg_vertical_line{
                    flex-grow: 1;
                    flex-shrink: 1; /* 줄어들 수 있게 */
                    height: 100%;
                }
                .content{
                    box-shadow:""
                }
                .liLine{
                    position: relative;
                    height: 100px;
                    .liNum{
                        width: 20px; height: 20px;
                        border-radius: 50%;
                        background-color: #4E7CB2;
                        position: absolute;
                        top: 50%; left: 0;
                        transform: translate(-50%, -50%);
                    }
                    span{
                        font-size: 10px;
                        display: block;
                        width: 20px; height: 20px;
                        color: #fff;
                        padding: 20%;
                        text-align: center;
                    }
                    
                }
                .pick_read{
                    display: inline-block;
                    width: 100%;
                }
                .plnner_drag{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
        }
        //중앙 점선
        .svg_middle_line{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            &::before, &::after{
                content: '';
                display: block;
                width: 35px; height: 35px;
                border-radius: 50%;
                border: 1px solid black;
                position: absolute;
                background-color: white;
            }
            &::before{
                top: 0; left: 0;
                transform: translate(-50%, -35%);
            }
            &::after{
                top: 0; right: 0;
                transform: translate(50%, -35%);
            }
        }
        .ticketbottom{
            position: relative;
            width: 100%; min-height: 50%;
            .ticketbtn{
                display: inline-block;
                text-align: center;
                margin: 0 auto;
                width: 100%;
            }
        }
    }
}
//메모&삭제 슬라이드
.swipeactionmemo{
    width: 100%;
    p:nth-of-type(1){
        margin: 7px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 85%;
    }
    p:nth-of-type(2){
        font-size: 11px;
        color: rgb(0, 0, 0, 0.3);
    }
    .card_title{
        font-size: 20px;
        font-weight: bold;
        margin :0 
    }
    .memoNtrash{
    height: 100px;
    display: flex;
    .trashicon{
        right: -194px !important;
    }
    .memoicon{
        width: 80px;
        height: 100%;
        background: #2288FD;
        position: absolute;
        top: 0; right: -115px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.planner_memo{
    position: relative;
    width: 100%;
    .memo_close{
        position: absolute;
        top: 30%;
        right: 10%;
        transform: translate(-50%, -50%);
    }
    .memo_text{
        position: absolute;
        left: 13%;
        top: 54%;
        width: 50%;
        transform: translate(0%, -50%);
        background-color: transparent;
        resize: none;
        outline: none;
    }
}
}
.cardbtn{
    width: 100%;
    margin: 0 auto 16px;
}
//선택완료
.place_btn{
    font-size: 18px;
    width: 100%;
}

@import './res-plannerDetail.scss';