@media (max-width:480px){
    .checkdetail-page{
        .titlebox{
            .pagetitle{font-size: 18px;}
            .mytriptitle{font-size: 14px;}
            .detailbtn{font-size: 14px;}
        }
    }

    // checkItem
    .checkitem{
        .MuiFormControlLabel-label {font-size: 14px;}
    }
}
