.checkdetail-page{
    padding: 92px 0 150px;

    .titlebox{
        position: relative;
        
        .checkdetail-icon-close{
            position: absolute;
            left: 0; top: -40px;
            width: 14px; height: 14px;
            cursor: pointer;
            img{
                width: 100%; height: 100%;
                object-fit: fill;
            }
        }
        .pagetitle{
            font-size: 20px;
            margin-bottom: 7px;
        }
        .mytriptitle{
            font-size: 16px;
            color: rgba(0, 0, 0, 0.3);
        }
        .detailbtn{
            position: absolute;
            display: block;
            right: 0; top: 50%;
            transform: translate(0, -50%);
            font-size: 16px;
            color: #2288FD;
            cursor: pointer;
        }
    }
    .needitembox{
        margin: 32px 0;
        position: relative;
        .detail-swipehand{
            position: absolute;
            right: 3%; top: 19%;
            transform: translate(-3%, -19%);
        }
    }
    .Addcheckitem-form {
        display: flex;
        align-items: center;
        padding: 8px 0; // 위아래 여백
        gap: 8px; // 아이콘과 input 사이 간격
    }
    .Addcheckitem-icon {
        display: flex;
        align-items: center;
        margin-left: -2px;
    
        .add-icon {
            font-size: 21px; // 체크박스랑 비슷하게
            color: #2288FD;
        }
    }
    .Addcheckitem-input {
        flex: 1; // 남은 공간 꽉 채움
        padding: 12px 0;
        font-size: 16px;
        border: none;
        background: transparent;
        outline: none;
        color: #333;
    
        &::placeholder {
            color: rgba(0, 0, 0, 0.3);
        }
        &:focus {
            border-bottom: 2px solid #2288FD;
        }
    }
}

// checkitem
.checkitem {
    .MuiFormControlLabel-label {font-size: 16px;}
}


@import './res-checkDetail.scss'
