.checklist-page{margin: 92px 0 150px;}
.add-check-btn-wrap{
    position: relative;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;

    .add-check-btn{
        z-index: 999;
        position: fixed;
        bottom: 13%; right: calc((100vw - 768px) / 2 + 34px); // 화면 너비에서 가운데 정렬 + 우측 위치 조정
        transform: translate(-13%, -4%);    
        >img{
            width: 50px; height: 50px;
        }
        cursor: pointer;
    }
}


@import './res-check.scss'