@media (max-width:768px){  
  .trip-list-topimg{
    >img{
      width: calc(100% + 10%); // style.scss에서 뺀 패딩 38px * 2
      margin-left: -5%;
      margin-right: -5%;
      height: 350px;
    }
  }

  .trip-list-cont{
    .trip-list-cont-title{
      >h3{
        font-size: 18px;
      }
      >span{
        font-size: 14px;
      }
    }
  }

  .place-item-all{
    .place-tag{
      display: inline-block;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .place-like-count{
      padding-left: 12px;
      span{
        font-size: 16px;
      }
    }
  }
  
  // TripFilter 컴포넌트
  .tripfilter {
    .updown {
      .order-button {
        font-size: 12px;
        padding-right: 6px;
      }
    }
    .filter-list {
      width: 78px;
      padding: 15px;
      li {
        font-size: 12px;
        padding-bottom: 12px;
      }
    }
  }
}


@media (max-width:480px){  
  .trip-list-topimg{
    .trip-list-title{
      font-size: 20px;
    }
    >img{
      height: 300px;
    }
  }

  .trip-list-cont{
    .trip-list-cont-title{
      >h3{
        font-size: 18px;
      }
      >span{
        font-size: 14px;
      }
    }
  }

  .place-item-all{
    .place{
      width: 96%;
    }
    .place-tag{
      display: inline-block;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .place-like-count{
      width: 4%;
      padding-bottom: 10px;
      padding-left: 3px;
    }
  }
  
  // TripFilter 컴포넌트
  .tripfilter {
    .updown {
      .order-button {
        font-size: 10px;
        padding-right: 6px;
      }
    }
    .filter-list {
      width: 68px;
      padding: 13px;
      li {
        font-size: 10px;
        padding-bottom: 10px;
      }
    }
  }
}
