.trip-listpage{ padding: 92px 0 150px; }

.trip-list-topimg{
  .trip-list-title{
    font-size: 24px;
    padding-bottom: 7px;
  }
  >img{
    width: calc(100% + 76px); // style.scss에서 뺀 패딩 38px * 2
    margin-left: -38px;
    margin-right: -38px;
    // 위 3가지 body에서 패딩 넣은거 무시하기
    height: 410px;
    object-fit: cover;
  }
}
.trip-list-cont{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 32px 0 10px;
  .trip-list-cont-title{
    >h3{
      font-size: 20px;
    }
    >span{
      font-size: 18px;
      display: block;
      font-weight: bold;
      padding-top: 6px;
    }
  }
}
.place-item-all{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .place{
    width: 96%;
  }
  .place-like-count{
    width: 4%;
    padding-bottom: 10px;
    padding-left: 3px;
    text-align: right;
    span{
      font-size: 18px;
      font-weight: bold;
    }
  }
}

// TripFilter 컴포넌트
.tripfilter {
  position: relative;
  .updown {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin:  0 3px 0 4px;
    .order-button {
      background: transparent;
      border: none;
      font-size: 14px;
      font-weight: bold;
      color: #333;
      padding-right: 6px;
      cursor: pointer;
    }
  }
  .filter-list {
    position: absolute;
    right: 0; top: 130%;
    background: white;
    border: 1px solid #555;
    width: 80px;
    border-radius: 10px;
    padding: 15px;
    li {
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 14px;
      text-align: center;
      cursor: pointer;
    }
    li:nth-of-type(3){padding-bottom: 0;}
  }
}

//데이터로딩
.trip-list-loading{
  margin: 120px auto;
  width: 300px;
}



@import './res-tripList.scss';