@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "./00-login/login.scss";
@import "./00-search/searchPage.scss";
@import "./00-search/searchDetail.scss";
@import "./01-home/home.scss";
@import "./02-trip/trip.scss";
@import "./02-trip/tripDetail.scss";
@import "./02-trip/tripList.scss";
@import "./03-community/cmDetail.scss";
@import "./03-community/cmList.scss";
@import "./03-community/cmPhoto.scss";
@import "./03-community/cmPostPage.scss";
@import "./03-community/cmSubjectPage.scss";
@import "./04-planner/calendar.scss";
@import "./04-planner/place.scss";
@import "./04-planner/plannerDetail.scss";
@import "./04-planner/plannerList.scss";
@import "./05-mypage/check/checkDetail.scss";
@import "./05-mypage/check/checkList.scss";
@import "./05-mypage/activity.scss";
@import "./05-mypage/like.scss";
@import "./05-mypage/my.scss";
@import "./05-mypage/qna.scss";

*{box-sizing: border-box; padding:0; margin: 0; word-break: keep-all;} 
html{font-size: 14px; color: #333;} 
body{ 
    user-select: none; 
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin: 0 auto; padding: 0 38px; width: 768px;
    font-family:'NanumSquare';
}
h1,h2,h3,h4,h5,p,figure{margin: 0; padding: 0;}
ol,ul,li{list-style: none; margin: 0; padding:0;}
button{border: 0; margin: 0; padding: 0;}
img{border: 0; vertical-align: middle;}
a{text-decoration: none; color: #333;}
input, textarea{border:0;}
::before,::after{margin:0; padding: 0; box-sizing: border-box;}

//Header
.header{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  left: 50%; top: 0;
  transform: translate(-50%, 0);
  width: 768px; height: 91.33px;
  padding: 45px 38px 13px;
  z-index: 9999;
  h2{
    >img{width: 97px;}
  }
}
.header-back{
  >img{width: 14px;}
}
.header-rig{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  .header-search{
    img{width: 16px;}
  }
  .header-list{
    img{width: 23.5px;}
  }
  div{
    padding-left: 17px;
  }
}

//MoreBtn
.morebtn{
  display: flex;
  align-items: center;
  justify-content: right;
  b{
    font-size: 16px;
    padding-right: 8px;
  }
}
.morebtn-icon{
  img{
    display: inline-block;
    width: 9px;
    padding-bottom: 1px;
  }
}

//Menu
.bottom-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 40px 0;
  background-color: #fff;
  position: fixed;
  left: 50%; bottom: 0;
  transform: translate(-50%, 0);
  width: 768px;
}

//SearchBar
.searchbar{
  width: 100%;
  height: 40px;
  border: 1px solid #333;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  .search-back{
    padding-left: 13px;
    cursor: pointer;
    >img{width: 6px; height: 12px;}
  }
  input{
    width: 90%;
    height: 100%;
    border-radius: 10px;
    padding-left: 9px;
    border: none;
    outline: none;
    font-size: 14px;
  }
}




@import './res-style.scss';