@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{box-sizing: border-box; padding:0; margin: 0; word-break: keep-all;} 
html{font-size: 14px; color: #333;} 
body{ 
    // user-select: none; 
    // -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin: 0 auto; padding: 0 38px; width: 768px;
    font-family:'NanumSquare';
}
h1,h2,h3,h4,h5,p,figure{margin: 0; padding: 0;}
ol,ul,li{list-style: none; margin: 0; padding:0;}
button{
    border: 0; margin: 0; padding: 0; background-color: transparent; 
    font-family: "NanumSquare";
    color: #333;
}
img{border: 0; vertical-align: middle;}
a{text-decoration: none; color: #333;}
input, textarea{
    border:0;
    font-family: "NanumSquare";
    color: #333;
}
::before,::after{margin:0; padding: 0; box-sizing: border-box;}


//태그모양
.tagbtn{
    display: inline-block;
    padding: 7px 11px;
    border: 1px solid #5886BA;
    border-radius: 85px;
    margin-right: 10px;
}
input:checked + .tagbtn{
    display: inline-block;
    padding: 7px 11px;
    color: white;
    border: 1px solid #5886BA;
    background-color: #5886BA;
    border-radius: 85px;
}

//버튼
.btn{
    background-color: white;
    border: 1px solid #333;
    border-radius: 7px;
    padding: 12px 0;
    text-align: center;
}

//밀기 애니메이션
.swipe{
    position: relative; 
    .path { 
    width: 20px; 
    height: 20px; 
    position: absolute; 
    background: rgba(149, 147, 241, 0.5); 
    border-radius: 40px;
    top: -7px; 
    left: 25px;
    visibility: hidden; 
    }  
    .hand-icon { 
    background-image: url('../../public/imgs/click-hand.svg'); 
    background-repeat: no-repeat; 
    background-position: center; 
    width: 40px;
    height: 44px;  
    transform-origin: 52% 62%; 
    }  
}

//밀어서 삭제 쓰레기통 아이콘
.swiperitem{
    display: flex;
    align-items: center;
    border: 1px solid black;
    overflow: hidden;
    
    .swiperlist{
        width: 100%;
        height: 72px;
    }
}

//밀어서 삭제
.swipe-container{
    position: relative;
    .children{
        width: 100%;
    }
    .trashicon{
        width: 80px;
        height: 100%;
        background: #FF0000;
        position: absolute;
        top: 0; right: -80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes swipe-hand { 
    25% { 
        transform: translate(20px) rotate(30deg); 
    } 50% {
        transform: translate(-20px) rotate(-15deg); 
    } 100% { 
        transform: translate(0px) rotate(0);
    } 
}  

@keyframes swipe-dot { 
    12% { 
        visibility: visible; width: 40px; 
    } 25% { 
        visibility: visible; 
        transform: translate(-65px); 
        width: 20px; 
    } 26% { 
        visibility: hidden; 
    } 
}
.weathertemp{
    span::after{
        content: '° ';
    }
    span:nth-of-type(2)::before{
        content: ' / ';
    }
}

.NoWriteReply {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
  
    .smileIcon {
      width: 40x;
      height: 40px;
      margin-bottom: 1rem;
    }
  
    b {
      font-size: 18px;
      text-align:center;
      line-height:auto;
      margin-bottom:0.5rem;

    }
  
    span {
     font-size: 12px;
     color:#555;
     text-align-last:center;
    }
  }
  

  .NoLikePlace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
  
    .heartBrokenIcon {
      width: 40px;
      height: 40px;
      margin-bottom: 1rem;
    }
  
    b {
       font-size: 18px;
       text-align:center;
       margin-bottom: 7px;
    }
    span {
      color: #555;
      font-size: 12px;
      text-align:center;
    }
  }

.NoWritePost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
  
    .smileIcon {
      width: 40px;
      height: 40px;
      margin-bottom: 1rem;
    }
  
    b {
      font-size: 18px;
      
      text-align:center;
      margin-bottom: 0.5rem;
    }
  
    span {
      color: #555;
      font-size: 12px;
      text-align:center;
       }
  }
  
.NoLikePost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
  
    .heartBrokenIcon {
      width: 40px;
      height: 40px;
      margin-bottom: 1rem;
    }
  
    b {
      font-size: 18px;
       text-align:center;
      margin-bottom: 0.5rem;
    }
  
    span {
      color: #555;
      font-size: 12px;
      text-align:center;    
  }
  }

.NoSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
  
    .smileIcon {
      width: 40px;
      height: 40px;
      margin-bottom: 1rem;
    }
  
    b {
      font-size:  18px;
      text-align: center;
      margin-bottom: 0.5rem;
    }
  }
  

// toggle
.toggle{
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.toggle-icon{
    width: 16px; height: 8px;
    img{width: 100%; height: 100%;}
}

// tab
.tabmenu{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    > div{
        width: 50%;
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        &.active{
            color: #333;
            border-bottom: 1px solid #333;
        }
    }
}
.tabitem{
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 10px;
    > p{
        width: 114px; height: 84px;
        img{width: 100%; height: 100%; object-fit: cover;}
    }
    > div{
        p{font-weight: bold; margin-bottom: 7px;}
        span{font-size: 12px; color: rgba(0, 0, 0, 0.3);}
    }
}
.tab-maintitle{
    text-align: center;
    font-size: 20px;
    margin: 50px 0;
}

// list
.listitem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 16px 0;
    > div{
        p{font-weight: bold; margin-bottom: 7px;}
        span{font-size: 12px; color: rgba(0, 0, 0, 0.3);}
    }
}
.listitem-icon{
    width: 8px; height: 16px;
    margin-right: 7px;
    > img{width: 100%; height: 100%;}
}
.listpage{
    h2{
        margin: 50px 0;
        text-align: center;
        font-size: 20px;
    }
    >p{
        font-size: 18px;
        margin-bottom: 32px;
    }
}

// popup
.popup-box{
    position: fixed;
    width: 100vw; height: 100vh;
    left: 0; top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.popup, .closepopup{
    min-width: 320px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}
.popup{
    padding: 25px;
    .popup-cont{
        display: flex;
        gap: 10px;
        font-size: 12px; 
        p{
            span{
                display: block;
                color: rgba(0, 0, 0, 0.3);
                margin-top: 10px;
            }
        }
    }
}
.closepopup{
    .popup-title{
        position: relative;
        padding: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        font-weight: bold;
    }
    .popup-closeicon{
        position: absolute;
        right: 4%; top: 50%;
        transform: translate(-4%, -50%);
    }
    .popup-cont{
        padding: 16px;
        font-size: 12px;
        .no-select-link{
            color: rgba(0, 0, 0, 0.3);
            text-decoration: underline;
            display: block;
        }
    }
    input{
        width: 90%;
        outline: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 7px;
        padding: 10px 14px;
        margin: 0 auto;
        display: block;
        &:focus{outline: 2px solid #5886BA;}
    }
}
.closepopup-btns-box, .popup-btns-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 7px;
}
.popup-btns-box{
    margin-top: 32px;
}
.closepopup-btns-box{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 16px;
}
.btn1popup-btn, .btn2popup-btn{
    padding: 10px 17px;
    border-radius: 7px;
    border: 1px solid #5886BA;
    font-size: 12px;
}
.btn1popup-btn{
    background-color: #5886BA;
    color: white;
}
.btn2popup-btn{
    background-color: white;
    color: #5886BA;
}
//Header
.header{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  left: 50%; top: 0;
  transform: translate(-50%, 0);
  width: 768px; height: 91.33px;
  padding: 45px 38px 13px;
  z-index: 9999;
  h2{
    >img{width: 97px;}
  }
}
.header-back{
  >img{width: 14px;}
}
.header-rig{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  .header-search{
    img{width: 16px;}
  }
  .header-list{
    img{width: 23.5px;}
  }
  div{
    padding-left: 17px;
  }
}

//MoreBtn
.morebtn{
  display: flex;
  align-items: center;
  justify-content: right;
  b{
    font-size: 16px;
    padding-right: 8px;
  }
}
.morebtn-icon{
  img{
    display: inline-block;
    width: 9px;
    padding-bottom: 1px;
  }
}

//Menu
.bottom-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 40px 0;
  background-color: #fff;
  position: fixed;
  left: 50%; bottom: 0;
  transform: translate(-50%, 0);
  width: 768px;
}

//SearchBar
.searchbar{
  width: 100%;
  height: 40px;
  border: 1px solid #333;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  .search-back{
    padding-left: 13px;
    cursor: pointer;
    >img{width: 6px; height: 12px;}
  }
  input{
    width: 90%;
    height: 100%;
    border-radius: 10px;
    padding-left: 9px;
    border: none;
    outline: none;
    font-size: 14px;
  }
}

.place{
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    .placeimg{
        width: 44%;
        img{
        width: 150px;
        height: 107px;
        border-radius: 15px;
        padding-right: 10px;

    }
    }
}
.placetxt{
    width: 40%;

    h2{font-size: 14px;color: #333333; font-weight: bold;}
    p{font-size: 10px; color: #333333; padding:5px 0;}
    b{
        font-size: 7px; color: #333333;
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
        
    }

}


.burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 0 20px;
    background-color:#FFFAF4 ;
    li:nth-of-type(1){
        padding-top: 140px;
    }
    span{
        font-size: 20px;
    }
    display: inline-block;
    ul{
        padding: 0 0 14px 0;
    }
  }

  // X모양
  .burger_close {
    position: absolute;
    right: 5.5%; top: 6%;
    cursor: pointer;

   img{
    width:14.6px;
    height:14.6px;
    color: #333333;
    
   }

  }
  // 텍스트 >
  .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    font-weight: bold;
    cursor: pointer;
    color: #2449A4;
    div{
        width: 9px;
        height: 18px;
        img{
           width: 100%;
           height: 100%;
        }
    }
  }


  //로그인 밑줄
  .login{
  
    span{
        text-decoration: underline;
        cursor: pointer;
        font-weight: bold;
        font-size: 12px;
        color: rgba($color: #000000, $alpha: 0.3);
    }
  }
  

.heartnumred,.heartnumwhite{
    display: flex;
    gap: 3px;
    align-items: baseline;
    p{
        color: #333333;
        font-size: 14px;
        font-weight: bold;
    }
}


@import './res-style.scss';
