// ========================================아이패드========================================
@media (max-width: 768px){
.post-container{
  max-width: auto;
  }
  .new-post-button { 
    max-width: auto;
    .cm-Newpost{
      bottom: 13%; right: 4%;
      transform: translate(-12.5%, -4%);    
      }
    }
.add-check-btn-wrap2{
  .add-check-btn2{
    bottom: 20%; right: 5%;
    }
}
.add-check-btn-wrap3{
  .add-check-btn3{
    bottom: 13%;
    }
}
.cm-subject {
  width: 100%;
}
.close-button { 
  top: 45px; 
  }
}
  // ========================================모바일========================================

@media (max-width:480px){

.cm-title{
  font-size: 16px;
}
.tab-maintitle{
  font-size: 20px!important;
}
.title {
  font-size: 18px;
}
.nickname{
  font-size: 12px;
}
.date-text{
  font-size: 12px;
}
.description {
  font-size: 14px;
}
.vote-text, .comment-text {
  font-size: 12px;
}
.new-post-button { 
  max-width: auto;
  .cm-Newpost{
    bottom: 16%;  right: 4%;
    transform: translate(-11.5%, -4%);    
  }
}
.submitButton{
  font-size: 14px;
}
.newtitle{
  font-size: 18px !important;
}
.subjectText{
  font-size: 14px !important;
}
.inputTitle{
  font-size: 16px !important;
}
.inputDescription{
  font-size: 12px !important;
}
.like-group span, .comment-group span{
  font-size: 12px;
}
.comment{
  font-size: 14px;
}
.comment-username{
  font-size: 14px;
}
.comment-text2{
  font-size: 14px;
}
.delete-text{
  font-size: 12px;
}
.comment-input-container {
  width: 100%;
}
.send-btn{
  margin-right: 10px;
}
.cursor-pointer1{
  font-size: 12px;
}
.cursor-pointer2{
  font-size: 12px;
}
.cm-delete-btn{
  font-size: 12px;
}
.container{
  width: 100%;
}
.subject-list .subject-item .subject-label .text{
  font-size: 14px;
}
.cm-subject .subject-list .subject-item .description{
  font-size: 10px;
}
.close-button { 
  top: 200px; 
  left: 260px; 
}
.cm-subject .sbtitle{
  font-size: 18px;
}
.Sb-Close{
  margin-top: -155px;
  margin-left: -230px;
}
.alertBox {
  font-size: 12px;
}
.tagbtn{
  font-size: 14px !important;
}
.cm-subject{
  width: 100%;
}
.post-container{
  max-width: auto;
}
.tagbtn.undefined{
  margin-top: 5px;
  font-size: 14px !important;
  }
.add-check-btn-wrap3{
    .add-check-btn3{
    bottom: 16%;
    }
  }
.add-check-btn-wrap2{
  .add-check-btn2{
    bottom: 24%; right: 5.7%;
    }
  }
}