.cm-title{
  font-size: 20px;
  font-family: 'NanumSquareBold';
  margin-top: 140px;
  text-align: center;
}
.content-container { 
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    position: relative;
  }
  
  .close-button { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    cursor: pointer;
  }
  
  .post-container { 
    width: 100%; 
    max-width: 600px; 
    border-radius: 10px; 
    display: flex; 
    flex-direction: column;
  }
  
  .title { 
    font-size: 18px;
    font-family: 'NanumSquareBold';
    margin-bottom: 6px;
    margin-top: 24px;
    color: #333333;
    align-self: flex-start;
  }
  
  .author-container { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-bottom: 16px;
  }
  
  .author-info { 
    display: flex; 
    align-items: center; 
    gap: 7px;
  }
  
  .nickname { 
    font-size: 10px;
    font-family: 'NanumSquare';
    color: #333333;
  }
  
  .date-text { 
    font-size: 10px;
    font-family: 'NanumSquare';
    color: #333333;
  }
  
  .description { 
    font-size: 14px;
    font-family: 'NanumSquare';
    color: #333333;
    margin-bottom: 16px;
  }
  
  .post-image { 
    width: 100%; 
    object-fit: cover;
    //aspect-ratio: 1 / 1;
    border-radius: 10px; 
    margin-bottom: 16px;
  }
  
  .interaction-container { 
    display: flex; 
    justify-content: flex-start; 
    font-size: 12px;
    font-family: 'NanumSquare';
    color: #333333; 
    gap: 16px;
  }
  
  .vote-text, .comment-text { 
    display: flex; 
    gap: 6px;
  }
  
  .divider { 
    width: 100%;
    height: 0.25px; 
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 16px;
  }
  
  .new-post-button { 
    position: fixed; 
    border: none; 
    cursor: pointer; 
    bottom: 110px; 
    right: 490px; 
    z-index: 1000; 
  }
  .like-section,
  .comment-section {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }
  @import "./_res-community.scss";