.container {
  display: flex;
  flex-direction: column;
}
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.Sb-Close{
  cursor: pointer;
}
.submitButton {
  text-align: right;
  cursor: pointer;
  padding: 10px;
  color: #2288FD;
  background: none;
  border: none;
  font-size: 16px;
  font-family: 'NanumSquare';
}
.newtitle {
  text-align: center;
  margin-top: 19px;
  font-size: 22px !important;
  font-family: 'NanumSquareBold' !important;
  color: #333333
}
.subjectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 55px;
}
.subjectBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.subjectErrorText {
  color: #d32f2f;
  font-size: 10.5px !important;
  font-family: 'NanumSquare' !important;
  margin-top: 7px !important;
  display: flex;
  align-items: center;
}
.subjectText {
  text-align: left;
  font-size: 18px !important;
  font-family: 'NanumSquareBold' !important;
  color: #333333;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 24px;
}
.divider3 {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 16px;
}
.photoContainer {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}
.photoBox {
  width: 88px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(217, 217, 217, 0.3);
}
.imagePreview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.photoImage {
  width: 88px;
  height: 88px;
  object-fit: cover;
  border-radius: 10px;
}
.nw-photo2{
  width: 88px;
  height: 88px;
  object-fit: cover;
  border-radius: 10px;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.inputTitle {
  font-size: 18px !important;
  font-family: 'NanumSquareBold' !important;
  margin-top: 23px;
  color: #333333 !important;
}
.inputDescription {
  font-size: 16px !important;
  font-family: 'NanumSquare' !important;
  margin-top: 13px;
  color: #333333 !important;
}
.alertBox {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fc5a5a;
  color: white;
  border-radius: 50px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
  font-size: 20px;
  font-family:'NanumSquare';
}
.alertIcon {
  font-size: 20px;
  font-family: 'NanumSquare' !important;
}
.uploadedImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  gap: 12px;
  object-fit: cover; 
}
.cm-post-page{
  padding: 50px 0 150px;
}
.swiper-image {
  width: 100%;
  aspect-ratio: 1 / 1; 
  object-fit: cover;   
  border-radius: 8px;
}

@import "./_res-community.scss";