.cm-subject {
  opacity: 0;
    width: 100%;
    bottom: 0;
    left: 50%;
    background-color: white;
    position: fixed;
    width: 768px;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10001;
}
.cm-subject .container {
  width: 100%; 
  height: auto; 
  background-color: white; 
  border: 1px solid #ccc; 
  border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  padding: 10px 10px 30px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.close-button { 
  position: absolute; 
  top: 42px; 
  left: 30px; 
  cursor: pointer;
}
.sbtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  font-size: 18px;
  font-family: 'NanumSquareBold';
  color: #333333;
  text-align: center;
}
.subject-list {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  .subject-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    .subject-label {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-left: 20px;
      .radio-button {
        display: flex; 
        align-items: center; 
        justify-content: center; 
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: white;
        margin-top: 16px;
        border: 1.5px solid rgba(0, 0, 0, 0.3);
        position: relative;
        .selected {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #5886ba;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .text {
        font-size: 16px;
        margin-top: 16px;
        font-family: 'NanumSquareBold';
        color: #333333;
      }
    }
    .description {
      font-size: 14px;
      font-family: 'NanumSquare';
      color: #333333;
      margin-left: 50px;
      margin-top: 7px;
    }
  }
}

@import "./_res-community.scss";