.cm-subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 768px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  .container {
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .close-button {
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
  }
  .Sb-Close{

  }

  .sbtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    font-size: 18px;
    font-family: 'NanumSquareBold';
    color: #333333;
    text-align: center;
  }

  .subject-list {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    .subject-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      cursor: pointer;

      .subject-label {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-left: 20px;

        .radio-button {
          display: flex; 
          align-items: center; 
          justify-content: center; 
          width: 17px;
          height: 17px;
          border-radius: 50%;
          background-color: white;
          margin-top: 16px;
          border: 1.5px solid rgba(0, 0, 0, 0.3);
          position: relative;

          .selected {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #5886ba;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .text {
          font-size: 14px;
          margin-top: 16px;
          font-family: 'NanumSquareBold';
          color: #333333;
        }
      }

      .description {
        font-size: 10px;
        font-family: 'NanumSquare';
        color: #333333;
        margin-left: 50px;
        margin-top: 7px;
      }
    }
  }
}
    @import "./_res-community.scss";