.activity-page{margin: 92px 0 150px;}
.tab-content-reply{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    p{font-weight: bold;}
    span{
        &:nth-of-type(1){
            display: block;
            margin: 7px 0;
        }
        font-size: 10px;
        color: rgba(0, 0, 0, 0.3);
    }
}