.titlebox {
  position: relative;
}
.titlebox .pagetitle {
  font-size: 18px;
  margin-bottom: 7px;
}
.titlebox .mytriptitle {
  color: rgba(0, 0, 0, 0.3);
}
.titlebox .detailbtn {
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  color: #2288FD;
}

.needitembox {
  margin: 32px 0;
  position: relative;
}
.needitembox .detail-swipehand {
  position: absolute;
  right: 5%;
  top: 19%;
  transform: translate(-5%, -19%);
}

.Addcheckitem-form {
  display: flex;
  align-items: center;
  padding: 8px 0;
  gap: 8px;
}

.Addcheckitem-icon {
  display: flex;
  align-items: center;
  margin-left: -2px;
}
.Addcheckitem-icon .add-icon {
  font-size: 21px;
  color: #2288FD;
}

.Addcheckitem-input {
  flex: 1;
  padding: 12px 0;
  font-size: 14px;
  border: none;
  background: transparent;
  outline: none;
  color: #333;
}
.Addcheckitem-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.Addcheckitem-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.Addcheckitem-input:focus {
  border-bottom: 2px solid #2288FD;
}