.like-page {
  padding: 92px 0 150px;
}

.like-item, .like-post {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  margin-top:16px;
  margin-bottom:16px;
  margin-left:10px;
  margin-right:10px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative; /* 상대적인 위치로 설정 */
}

.like-img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}

.like-info {
  flex: 1;
}

.like-info h3 {
  font-size: 18px;
  margin-bottom: 7px;
}

.like-date {
  font-size: 14px;
  color: #999;
}

.like-heart {
  cursor: pointer;
  position: absolute; /* 하트를 절대 위치로 설정 */
  right: 16px; /* 오른쪽에 위치하도록 */
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.like-heart svg {
  width: 100%;
  height: 100%;
}

.like-page .no-like-message {
  text-align: center;
  color: #888;
  font-size: 16px;
  padding: 20px;
}

.like-post {
  display: flex;
  justify-content: space-between; /* 내용과 하트 아이콘 사이 공간 확보 */
  align-items: center;
  background-color: #fafafa;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.like-post .post-content {
  flex: 1;
  font-size: 16px;
  color: #333;
}

.like-post .like-heart {
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.like-post .like-heart svg {
  width: 100%;
  height: 100%;
}

.likeloading{
  margin: 120px auto;
  width: 300px;
}
