.qna-container {
  padding: 24px;
  font-family: 'Pretendard';
  font-size: 16px;

  .qna-subtitle {
    b {
      font-size: 20px;
      text-align: center;
      margin-top: 50px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 50px;
      display: block;
    }
  }

  .qna-item {
    .qna-question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 16px 0;
      margin-top:7px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 7px;

      p {
        margin: 0;
        font-size: 17px;
        font-weight: 500;
      }

      .arrow-icon {
        display: flex;
        align-items: center;

        .icon {
          width: 24px;
          height: 24px;
          
        }
      }
    }

    .qna-answer {
      background-color: #f4f4f4;
      padding: 20px;
      border-radius: 8px;
      font-size: 15px;
      line-height: 1.6;
      color: #333;
      margin-bottom: 24px;

      p {
        margin: 0;
      }
    }

    hr {
      border: none;
      height: 1px;
      background-color: #ddd;
      margin: 0;
    }
  }
}
