@media (max-width:480px){
  //Ranking
  .pop-search{
    .popSearch-cont{
      >span{
        padding-right: 10%;
      }
    }
  }
  .rankingOne{
    b{
      font-size: 14px;
    }
    span{
      font-size: 14px;
    }
  }

  //Tags
  .pop-tags{
    .popTags-cont{
      >.search-tagbtn{
        font-size: 14px;
      }
    }
  }
}
