@media (max-width:768px){
  .bottom-icons{
    width: auto;
  } 
  .home-mainimg{
    max-height: 30vh;
    .home-bgimg{
      max-height: 30vh;
      img{
        height: 30vh;
      }
    }
    .home-main-whimg{
      transform: translateX(10%);
      p{
        width: 90%;
      }
      >b{
        transform: translate(30%, 35%);
        font-size: 24px;
      }
    }
    .home-main-text{
      >b{
        font-size: 20px;
      }
      span{
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .home-tabmenu{
    margin: 50px 0;
    .home-tabcomp{
      flex: 1 1 calc(50% - 5px); /* 여백 줄임 */
      max-width: calc(50% - 5px); /* 최대 너비 제한 */
      span{
        font-size: 20px;
      }
    }
  }

  .home-tripmenu{
    margin: 50px 0;
    .home-tripmenu-top{
      margin-bottom: 8px;
      h2{
        font-size: 24px;
      }
    }
    .home-trip{
      width: 143px; height: 100%;
      .home-triptab{
        >p{
          width: 100%; height: 206px;
        }
        .home-triptab-text{
          padding: 0 0 10px 4px;
          b{
            font-size: 16px;
          }
          span{
            font-size: 13px;
            padding-top: 3px;
          }
        }
      }
    }
  }

  .home-foodmenu{
    margin: 50px 0;
    .home-foodmenu-top{
      margin-bottom: 8px;
      h2{
        font-size: 24px;
      }
    }
    .home-food{
      width: 222px; height: auto;
      .home-foodtab{
        >p{
          width: 100%; height: 109px;
        }
        .home-foodtab-text{
          padding: 10px 0 20px;
          >b{
            font-size: 16px;
          }
          >span:nth-of-type(1){
            font-size: 10px;
            color: #555;
          }
          >span:nth-of-type(2){
            font-size: 12px;
            display: block;
            padding-top: 5px;
          }
        }
      }
    }
  }

  .home-photomenu{
    margin: 50px 0;
    .home-photomenu-top{
      margin-bottom: 8px;
      h2{
        font-size: 24px;
      }
    }
    .home-photo{
      width: 420px; height: auto;
      .home-photo-img{
        width: 100%; height: 546px;
      }
    }
  }
}
@media (max-width:480px){
  .bottom-icons{
    width: auto;
  }
  .home-mainimg{
    max-height: 24vh;
    .home-bgimg{
      max-height: 24vh;
      img{
        height: 24vh;
      }
    }
    .home-main-whimg{
      transform: translateX(35%);
      p{
        width: 65%;
      }
      >b{
        transform: translate(27%, 26%);
        font-size: 20px;
      }
    }
    .home-main-text{
      >b{
        font-size: 18px;
      }
      span{
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .home-tabmenu{
    margin: 50px 0;
    .home-tabcomp{
      flex: 1 1 calc(50% - 5px); /* 여백 줄임 */
      max-width: calc(50% - 5px); /* 최대 너비 제한 */
      span{
        font-size: 16px;
      }
    }
  }

  .home-tripmenu{
    margin: 50px 0;
    .home-tripmenu-top{
      margin-bottom: 6px;
      h2{
        font-size: 18px;
      }
    }
    .home-trip{
      width: 105px; height: 100%;
      .home-triptab{
        >p{
          width: 100%; height: 151px;
        }
        .home-triptab-text{
          position: absolute;
          left: 0; bottom: 0;
          padding: 0 0 12px 6px;
          b{
            font-size: 12px;
          }
          span{
            font-size: 9px;
          }
        }
      }
    }
  }

  .home-foodmenu{
    margin: 50px 0;
    .home-foodmenu-top{
      margin-bottom: 6px;
      h2{
        font-size: 18px;
      }
    }
    .home-food{
      width: 163px; height: auto;
      .home-foodtab{
        >p{
          width: 100%; height: 80px;
        }
        .home-foodtab-text{
          padding: 7px 0 15px;
          >b{
            font-size: 14px;
          }
          >span:nth-of-type(1){
            font-size: 7px;
          }
          >span:nth-of-type(2){
            font-size: 10px;
            padding-top: 5px;
          }
        }
      }
    }
  }

  .home-photomenu{
    margin: 50px 0;
    .home-photomenu-top{
      margin-bottom: 6px;
      h2{
        font-size: 18px;
      }
    }
    .home-photo{
      width: 310px; height: auto;
      .home-photo-img{
        width: 100%; height: 403px;
      }
    }
  }
}