@media (max-width:768px){
  .home-main{margin: 92px 0 200px;}

  .bottom-icons{
    width: auto;
  } 

  .home-main-loading{
    height: 35vh;
  }
  .home-main-wt-loading{
    margin: 20px auto 0;
    height: 7vh;
  }

  .mainSwiper{
    .home-mainimg{
      max-height: 280px;
      .home-bgimg{
        max-height: 280px;
        img{
          height: 280px;
        }
      }
      .home-main-whimg{
        transform: translateX(10%);
        p{
          width: 90%;
        }
        >b{
          transform: translate(34%, 33%);
          font-size: 26px;
        }
      }
      .home-main-text{
        >b{
          font-size: 20px;
        }
        span{
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  .home-tabmenu{
    margin: 50px 0;
    .home-tabcomp{
      flex: 1 1 calc(50% - 5px); /* 여백 줄임 */
      max-width: calc(50% - 5px); /* 최대 너비 제한 */
      span{
        font-size: 20px;
      }
    }
  }

  .home-menu-top{
    margin-bottom: 8px;
    h2, .emoji{
      font-size: 24px;
    }
  }

  .home-weather-content{
    height: 80px;
    .home-weather-today{
      padding: 9px 25px;
      gap: 10px;
      height: 80px;
      >img{
        width: auto; height: auto;
      }
      >div{
        >span{
          font-size: 14px;
        }
        >b{
          font-size: 20px;
          margin-left: 4px;
        }
      }
    }
    .home-weather-etc{
      gap: 30px;
      >b{font-size: 20px; width: 100%;}
      .home-weather-windy{
        >span{
          font-size: 14px;
        }
        >b:nth-of-type(1){
          font-size: 20px;
          margin-left: 4px;
        }
        >b:nth-of-type(2){
          font-size: 16px;
        }
      }
    }
  }

  .home-tripmenu{
    margin: 50px 0;
    .home-tripContent{
      gap: 12px;
      .home-trip{
        width: 60%; height: 100%;
    
        &.active {
          width: 100%; // 펼쳐졌을 때 너비
        }
      
        .home-triptab{
          >p{
            width: 100%; height: 250px;
          }
          .home-triptab-text{
            padding: 0 0 10px 4px;
            b{
              font-size: 16px;
            }
            span{
              font-size: 13px;
              padding-top: 3px;
            }
          }
        }
      }
    }
  }

  .home-foodmenu{
    margin: 50px 0;
    .home-foodContent{
      .home-food{
        width: 100%;
        margin-bottom: 10px;
        max-width: calc(50% - 5px); /* 최대 너비 제한 */
        .home-foodtab{
          display: flex;
          flex-direction: column;
          >p{
            flex: 1;
            aspect-ratio: 222 / 109;
            width: 100%;
            overflow: hidden;
            >img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .home-foodtab-texts{
            padding: 10px 0 20px;
            .home-foodtab-text1{
              >b{
                font-size: 16px;
              }
              >span{
                font-size: 10px;
                color: #555;
              }
            }
            >span{
              font-size: 12px;
              display: block;
              padding-top: 5px;
            }
          }
        }
      }
    }
  }

  .home-photomenu{
    margin: 70px 0;
    .photoSwiper{
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      overflow: visible;
      .swiper-wrapper {
        padding-right: 0 !important;
        .swiper-slide {
          width: 95% !important; 
          flex-shrink: 0;
          // margin-right: 0 !important;
          .home-photo{
            max-width: 580px; height: auto;
            .home-photo-img{
              width: 100%;
              aspect-ratio: 4 / 5;
              img{
                width: 100%; height: 100%;
                object-fit: cover;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }

  .home-peoplemenu{
    .home-people-text{
      >p{
        width: 298px;
      }
      .home-people-q{
        top: 12px; left: 14px;
        width: 100%;
        
        span{
          font-size: 20px;
          padding-bottom: 3px;
        }
        span:nth-of-type(3){display: block; top: 23%; left: 0;}
        .home-people-input{
          height: 23px;
          input{
            padding-left: 16px;
            font-size: 14px;
            &::placeholder{
              font-size: 14px;
            }
          }
        }
      }
    }
    .home-people-num{
      >span{
        bottom: 23%; left: 26%;
        font-size: 10px;
      }
      >b{
        top: 35%; right: 12%;
        font-size: 45px;
      }
    }
  }

  .home-month-popup-action{
    width: 100%;
    .home-month-popup{
      padding: 30px 5% 65px;
      .popup-top{
        font-size: 18px;
        margin-bottom: 35px;
        button{
          font-size: 18px;
          .month-close{
            width: 15px; height: 15px;
            margin-bottom: 5px;
          }
        }
      }
      .popup-month{
        .month-btn{
          flex: 0 0 23%;
          width: 23%;
          margin-bottom: 18px;
          .month-num{
            text-align: center;
            font-size: 16px;
            padding: 15px 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
          }
        }
      }
    }
  }

  .footer{
    margin: 100px 0 150px;
    b{
      font-size: 12px;
      padding-bottom: 6px;
    }
    p{
      font-size: 12px;
      line-height: 20px
    }
  }
}



@media (max-width:480px){
  .home-main{margin: 92px 0 108px;}

  .bottom-icons{
    width: auto;
  }

  .home-main-loading{
    height: 25vh;
  }
  .home-main-wt-loading{
    margin: 0 auto;
    padding-top: 50px;
    height: 5vh;
  }

  .mainSwiper{
    .home-mainimg{
      max-height: 195px;
      .home-bgimg{
        max-height: 195px;
        img{
          height: 195px;
        }
      }
      .home-main-whimg{
        transform: translateX(35%);
        p{
          width: 65%;
        }
        >b{
          transform: translate(31%, 26%);
          font-size: 20px;
        }
      }
      .home-main-text{
        >b{
          font-size: 18px;
        }
        span{
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }

  .home-tabmenu{
    margin: 50px 0;
    .home-tabcomp{
      flex: 1 1 calc(50% - 5px); /* 여백 줄임 */
      max-width: calc(50% - 5px); /* 최대 너비 제한 */
      span{
        font-size: 16px;
      }
    }
  }

  .home-menu-top{
    margin-bottom: 6px;
    h2, .emoji{
      font-size: 18px;
    }
  }

  .home-weather-content{
    height: 46px;
    .home-weather-today{
      padding: 7px 24px;
      height: 46px;
      >p{
        width: 38%; height: auto;
      }
      >div{
        >span{
          font-size: 8px;
        }
        >b{
          font-size: 11px;
          margin-left: 3px;
        }
      }
    }
    .home-weather-etc{
      gap: 40px;
      >b{font-size: 12px; width: 100%;}
      .home-weather-windy{
        >span{
          font-size: 8px;
        }
        >b:nth-of-type(1){
          font-size: 12px;
          margin-left: 3px;
        }
        >b:nth-of-type(2){
          font-size: 7px;
        }
      }
    }
  }

  .home-tripmenu{
    margin: 50px 0;
    .home-tripContent{
      gap: 10px;
      .home-trip{
        width: 60%; height: 100%;
    
        &.active {
          width: 100%; // 펼쳐졌을 때 너비
        }
      
        .home-triptab{
          >p{
            width: 100%; height: 151px;
          }
          .home-triptab-text{
            padding: 0 0 10px 6px;
            b{
              font-size: 12px;
            }
            span{
              font-size: 9px;
              padding-top: 3px;
            }
          }
        }
      }
    }
  }

  .home-foodmenu{
    margin: 50px 0;
    .home-foodContent{
      .home-food{
        width: 100%;
        margin-bottom: 10px;
        .home-foodtab{
          display: flex;
          flex-direction: column;
          >p{
            flex: 1;
            aspect-ratio: 163 / 80;
            width: 100%; height: auto;
            overflow: hidden;
            >img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .home-foodtab-texts{
            padding: 7px 0 15px;
            .home-foodtab-text1{
              >b{
                font-size: 14px;
              }
              >span{
                font-size: 10px;
              }
            }
            >span{
              font-size: 10px;
              padding-top: 5px;
            }
          }
        }
      }
    }
  }

  .home-photomenu{
    margin: 70px 0;
    .photoSwiper{
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      overflow: visible;
      .swiper-wrapper {
        padding-right: 0 !important;
        .swiper-slide {
          width: 95% !important; 
          flex-shrink: 0;
          // margin-right: 0 !important;
          .home-photo{
            max-width: 500px; height: auto;
            .home-photo-img{
              width: 100%;
              aspect-ratio: 4 / 5;
              img{
                width: 100%; height: 100%;
                object-fit: cover;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }

  .home-peoplemenu{
    .home-people-text{
      >p{
        width: 245px;
      }
      .home-people-q{
        top: 8px; left: 14px;
        width: 100%;
        
        span{
          font-size: 16px;
        }
        span:nth-of-type(3){display: block; top: 23%; left: 0;}
        .home-people-input{
          padding-top: 3px;
          height: 20px;
          input{
            padding-left: 15px;
            font-size: 12px;
            &::placeholder{
              font-size: 12px;
            }
          }
        }
      }
    }
    .home-people-num{
      >span{
        bottom: 21%; left: 24%;
        font-size: 10px;
      }
      >b{
        top: 35%; right: 12%;
        font-size: 35px;
      }
    }
  }

  .home-month-popup-action{
    width: 100%;
    .home-month-popup{
      padding: 30px 5% 65px;
      .popup-top{
        font-size: 14px;
        margin-bottom: 35px;
        button{
          font-size: 14px;
          .month-close{
            width: 14px; height: 14px;
            margin-bottom: 5px;
          }
        }
      }
      .popup-month{
        .month-btn{
          width: auto;
          margin-bottom: 18px;
          .month-num{
            font-size: 14px;
            padding: 12px 35px;
          }
        }
      }
    }
  }

  .footer{
    margin: 100px 0 150px;
    b{
      font-size: 10px;
      padding-bottom: 4px;
    }
    p{
      font-size: 10px;
      line-height: 16px
    }
  }
}