.mySwiper { width: 100%; overflow: hidden;}
.mainSwiper{
  .swiper-slide { width: 100% !important; }
}
.photoSwiper{
  .swiper-slide { width: 95% !important; flex-shrink: 0;}
}

.home-main{margin: 92px 0 221px;}
.bottom-icons{
  width: 100%;
  background-color: #fff;
  .home-menu{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .menu-blue{width: auto; height: 20px;}
    .menu-gray{width: auto; height: 20px;}
    .menu-label{
      font-size: 8px;
      font-weight: bold;
      color: rgb(0, 0, 0, 0.3);
      padding-top: 4px;
    }
    .menu-label.active{
      color: #2449A4;
    }
  }
}

.home-mainimg{
  position: relative;
  width: 100%; max-height: 40vh;
  .home-bgimg{
    width: 100%; max-height: 40vh;
    img{
      filter: brightness(0.75);
      width: 100%; height: 40vh;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .home-main-whimg{
    position: absolute;
    right: 0; top: 0;
    p{
      width: 100%; height: auto;
      img{
        width: 100%; height: 100%;
        object-fit: cover;
      }
    }
    >b{
      position: absolute;
      left: 0; top: 0;
      transform: translate(32%, 23%);
      font-size: 30px;
      color: #5886BA;
    }
  }
  .home-main-text{
    width: 70%;
    position: absolute;
    left: 0%; top: 50%;
    transform: translate(0, -50%);
    padding-left: 16px;
    color: #fff;
    >b{
      display: block;
      font-size: 24px;
      padding-bottom: 5px;
    }
    span{
      display: block;
      font-size: 18px;
      line-height: 22px;
      
      display: -webkit-box;
      -webkit-line-clamp: 2; // 최대 2줄
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.home-tabmenu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin: 70px 0;
  .home-tabcomp{
    flex: 1 1 calc(50% - 20px);
    //flex-grow 1(남는공간 동일하게 나눔)  flex-shrink 1(화면 줄어들때 크기도 줄임)  flex-basis calc(50% - 20px)(화면의 50%에서 20px빼기)
    position: relative;
    img{
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    span{
      position: absolute;
      left: 50%; top: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 24px;
      color: #fff;
    }
  }
}

.home-weather-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #FDF6EE;
  border-radius: 50px;
  .home-weather-today{
    width: 45%;
    background: linear-gradient(130deg, #BCDBFF, #DFEBFA);
    border-radius: 50px;
    padding: 14px 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    >img{
      width: auto; height: 61px;
    }
    >div{
      margin-left: 45px;
      >span{
        font-size: 18px;
      }
      >b{
        font-size: 24px;
        margin-left: 12px;
      }
      
    }
  }
  .home-weather-etc{
    display: flex;
    align-items: center;
    justify-content: center;
    >b{font-size: 24px;}
    .home-weather-windy{
      margin: 0 63px 0 87px;
      >span{
        font-size: 18px;
      }
      >b:nth-of-type(1){
        font-size: 24px;
        margin-left: 12px;
      }
      >b:nth-of-type(2){
        font-size: 20px;
      }
    }
  }
}

.home-menu-top{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 18px;
  h2, .emoji{
    font-weight: bold;
    font-size: 28px;
  }
  .emoji{
    font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', sans-serif;
  }
}

.home-tripmenu{
  margin: 70px 0;
  .home-tripContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 14px;
    .home-trip{
    width: 60%; height: 100%;
    transition: width 0.3s ease;

    &.active {
      width: 100%; // 펼쳐졌을 때 너비
    }

    .home-triptab{
      width: 100%;
      position: relative;
      >p{
        width: 100%; height: 309px;
        filter: brightness(0.5);
        img{
          width: 100%; height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      .home-triptab-text{
        position: absolute;
        left: 0; bottom: 0;
        padding: 0 0 12px 12px;
        b{
          font-size: 20px;
          color: #fff;
          display: -webkit-box; // 여러줄 자르기
          -webkit-line-clamp: 1; // 최대 1줄
          -webkit-box-orient: vertical; // 수직방향(줄 수)으로 설정
          overflow: hidden;
          text-overflow: ellipsis;
        }
        span{
          font-size: 17px;
          display: block;
          color: #fff;
          padding-top: 3px;
          display: -webkit-box;
          -webkit-line-clamp: 2; // 최대 2줄
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    }
  }
}

.home-foodmenu{
  margin: 70px 0;
  .home-foodContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .home-food{
      width: 334px; height: auto;
      .home-foodtab{
        width: 100%;
        >p{
          width: 100%; height: 164px;
          img{
            width: 100%; height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }
        .home-foodtab-texts{
          padding: 10px 0 20px;
          .home-foodtab-text1{
            display: flex;
            align-items: center;
            overflow: hidden;
            gap: 6px;
            width: 100%;
            >b{
              flex-shrink: 1; // 제목은 줄어들지 않게
              white-space: nowrap; //줄바꿈 금지
              font-size: 18px;
              padding-right: 6px;
            }
            >span{
              flex: 1 1 auto; // 남는 공간 차지
              white-space: nowrap; //줄바꿈 금지
              overflow: hidden; //넘치는 부분 숨기기
              text-overflow: ellipsis; //...처리
              font-size: 12px;
              color: #555;
            }
          }
          >span{
            display: block;
            padding-top: 5px;
            flex: 1 1 auto; // 남는 공간 차지
            white-space: nowrap; //줄바꿈 금지
            overflow: hidden; //넘치는 부분 숨기기
            text-overflow: ellipsis; //...처리
          }
        }
      }
    }
  }
}

.home-photomenu{
  margin: 70px 0;
  .home-photo{
    width: 635px; height: auto;
    .home-photo-img{
      width: 100%; height: 825px;
      img{
        width: 100%; height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}



@import './res-home.scss';